@model IEnumerable<Lab06.MVC.DAL.Entities.EnrollmentEntity>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1 class="mb-4">Enrollment</h1>

    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
    </p>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Student.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Student.Id)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Student.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Student.Id)</td>
                        <td>
                            <a class="btn btn-success mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-info mr-2" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
